
/*
	Original gg_Harmony_blue Theme for phpBB version 2.0x
  Created by GGWeb-Fr design
  http://ggweb-fr.com/customers/forums/

	based on

  The original subSilver Theme for phpBB version 2+
  Created by subBlue design
  http://www.subBlue.com
*/
/*
attachmod
*/
td.attachrow		{ border-color : #000000; }
td.attachheader     { border-color : #000000; background-color: #D1D7DC; }
table.attachtable	{ border-color : #000000; border-collapse : collapse; }

/* Special Categories Hierarchy ----------------------------------------------*/
.absbottom {
	vertical-align: text-bottom;
}
.dom_overview_abshidden { position: absolute; visibility: hidden; width: 300px; }
/* ---------------------------------------------------------------------------*/

/* General page style. The scroll bar colours only visible in IE5.5+ ---------*/
body { 
	background: #E2E4EB url(images/bg_dark.gif);
	scrollbar-face-color: #5D74AE;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #DEE3E7;
	scrollbar-3dlight-color: #D1D7DC;
	scrollbar-arrow-color: #EFF2FA;
	scrollbar-track-color: #EFF2FA;
	scrollbar-darkshadow-color: #5D74AE;
}
.bkg_main {
	background: #F7F8FD url(images/bg_light.gif);
	border: 1px #5D74AE solid;
}
/* ---------------------------------------------------------------------------*/

/* Gradient background at the top of the page --------------------------------*/
.topbkg {
	background: #5D74AE url(images/bg_header.gif);
}
/* ---------------------------------------------------------------------------*/

/* Navigation bar ------------------------------------------------------------*/
.navbar {
	color: #314687;
	font-size: 10px;
	background: #F9FAFE url(images/cellpic_nav.gif) repeat-x;
	height: 21px;
	white-space: nowrap;
	border: 0px solid #A5AEC3;
	border-width: 1px 1px 1px 1px;
}
.navbar, .navbar a, .navbar a:link, .navbar a:visited {
	text-decoration: none;
	color: #5569A7;
}
.navbar a:hover {
	text-decoration: none;
	color: #213975;
}
.navsep	{
	font-weight: bold;
	font-size: 11px;
	color: #9AB0DE;
}
/* ---------------------------------------------------------------------------*/

/* Navigation box ------------------------------------------------------------*/
.navbox {
	background: #F7F8FD url(images/bg_rownav.gif) repeat-y;
	border: 1px #F7F8FD solid;
	border-right-color: #E7EAF5;
	border-bottom-color: #E7EAF5;
}
/* ---------------------------------------------------------------------------*/

/* Header title --------------------------------------------------------------*/
.headertitle	{
	font-weight: bold;
	font-size: 22px;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	line-height: 120%;
	color: #DEE3F1;
}
.headersubtitle	{
	font-weight: bold;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	line-height: 120%;
	color: #D5DBEC;
}
/* ---------------------------------------------------------------------------*/

/* -- mod: attachmod ---------------------------------------------------------*/
.attachtable	{
	color: #A9A9A9;
	font-family: normal 12px Verdana, Arial, Helvetica, sans-serif;
	border: 1px #5D74AE solid;
	border-collapse: collapse;
}
td.attachrow {
	color: #A9A9A9;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px #5D74AE solid;
	height: 21px;
}
.headerbox	{
	font-weight: bold;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	line-height: 120%;
	color: #5D74AE;
}
/* ---------------------------------------------------------------------------*/

/* General font families for common tags -------------------------------------*/
font, th, td, p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a:link, a:active, a:visited {
	color: #5569A7;
}
a:hover {
	text-decoration: underline;
	color: #5569A7;
}
/* ---------------------------------------------------------------------------*/

/* Lines ---------------------------------------------------------------------*/
hr {
	height: 0px;
	background-color: #FDFDFD;
	border: solid #D5DBEC 0px;
	border-top-width: 1px;
}
td.line	{
	background-color: #F7F8FD;
	background-image: url(images/cellpic_line.gif);
}
/* ---------------------------------------------------------------------------*/

/* This is the border line & background colour round the entire page ---------*/
.bodyline	{
	background-color: #FDFDFD;
	border: 1px #5D74AE solid;
}
/* ---------------------------------------------------------------------------*/

/* This is the outline round the main forum tables ---------------------------*/
.forumline {
	background-color: #FFFFFF;
	border: 1px #5D74AE solid;
}
/* ---------------------------------------------------------------------------*/

/* Header cells - the blue and silver gradient backgrounds -------------------*/
th {
	background-image: url(images/cellpic3.gif);
	background-color: #5D74AE;
	color: #D5DBEC;
	font-size: 11px;
	font-weight: bold; 
	height: 25px;
}
th.thHead, th.thSides, th.thTop, th.thLeft, th.thRight, th.thBottom, th.thCornerL, th.thCornerR {
	font-weight: bold;
	height: 25px;
	border: solid 1px #D3D9EB;
	border-left-color: #ABB9DD;
	border-top-color: #ABB9DD;
	border-right-color: #ABB9DD;
	border-bottom-color: #ABB9DD;
}
/* ---------------------------------------------------------------------------*/

/* Main table cell colours and backgrounds -----------------------------------*/
td.row1	{
	background-color: #F7F8FD;
	background-image: url(images/bg_row1.gif);
	border: solid 1px #FDFDFD;
	border-right-color: #DEE3F1;
	border-bottom-color: #DEE3F1;
}
td.row2	{
	background-color: #F3F5FC;
	background-image: url(images/bg_row2.gif);
	border: solid 1px #FDFDFD;
	border-right-color: #DEE3F1;
	border-bottom-color: #DEE3F1;
}
td.row3 {
	background-color: #EFF2FA;
	background-image: url(images/bg_row3.gif);
	border: solid 1px #FDFDFD;
	border-right-color: #DEE3F1;
	border-bottom-color: #DEE3F1;
}
td.titleLegend {
	color: #5569A7;
	font-size: 10px;
	background: #F9FAFE url(images/cellpic_nav.gif) repeat-x;
	height: 21px;
	white-space: nowrap;
	border: 0px solid #A5AEC3;
	border-width: 1px 0px 1px 0px;
}
td.rowLegend {
	background-color: #F9FAFE;
	background-image: url(images/bg_rowlegend.gif);
}
td.row1Portal {
	background-color: #F7F8FD;
	background-image: url(images/bg_row1.gif);
}
td.spaceRowPortal {
	background-image: url(images/cellpic3_light.gif);
	background-color: #EFEAF5;
}
/*
  This is for the table cell above the Topics, Post & Last posts on the index.php page
  By default this is the fading out gradiated silver background.
  However, you could replace this with a bitmap specific for each forum
*/
td.rowpic {
		background-color: #C9D0E2;
		background-image: url(images/cellpic1.gif);
}
td.row3Right, td.row3right {
	background-color: #EFF2FA;
	background-image: url(images/bg_row3.gif);
	border: solid 1px #FDFDFD;
	border-right-color: #DEE3F1;
	border-bottom-color: #DEE3F1;
}
td.spaceRow {
	background-image: url(images/space_row.gif);
	background-color: #8295C4;
	border: #FDFDFD;
	border-style: solid;
}
td.cat, td.catHead, td.catSides, td.catLeft, td.catRight, td.catBottom {
	background-image: url(images/cellpic1.gif);
	background-color: #C9D0E2;
	border: #FDFDFD;
	border-style: solid;
	height: 27px;
}
/*
  Setting additional nice inner borders for the main table cells.
  The names indicate which sides the border will be on.
  Don't worry if you don't understand this, just ignore it :-)
*/
td.cat, td.catHead, td.catBottom {
	height: 27px;
	border-width: 0px 0px 0px 0px;
}
td.catHead {
	font-size: 12px;
	border-width: 0px 0px 0px 0px;
}
td.catSides, td.spaceRow {
	border-width: 0px 0px 0px 0px;
}
td.catRight {
	border-width: 0px 0px 0px 0px;
}
td.catLeft {
	border-width: 0px 0px 0px 0px;
}
td.catBottom {
	border-width: 0px 0px 0px 0px;
}
/* ---------------------------------------------------------------------------*/

/* Look ----------------------------------------------------------------------*/
td.spaceLook {
	background-color: #5D74AE;
}
td.spaceLine {
	background: #5D74AE url(images/cellpic_nav.gif);
	border: 1px #5D74AE solid;
	border-width: 0px 1px 0px 1px;
}
/* ---------------------------------------------------------------------------*/

/* Shadow images for tables --------------------------------------------------*/
.shadow {
	border-collapse: collapse;
	height: 4px;
	width: 100%;
}
.shleft {
	background: url(images/sh_left.gif) no-repeat;
	width: 8px;
}
.shbottom {
	background: url(images/sh_middle.gif) repeat-x;
	width: 100%;
}
.shright {
	background: url(images/sh_right.gif) no-repeat;
	width: 8px;
}
/* ---------------------------------------------------------------------------*/

/* The largest text used in the index page title and toptic title etc. -------*/
.maintitle {
	font-weight: bold;
	font-size: 22px;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	line-height: 120%;
	color: #000000;
}
.mainPost {
	font-weight: bold;
	font-size: 18px;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	line-height: 120%;
	color: #000000;
}
.mainSearch {
	font-weight: bold;
	font-size: 18px;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	line-height: 120%;
	color: #000000;
}
/* ---------------------------------------------------------------------------*/

/* General text --------------------------------------------------------------*/
.gen {
	font-size: 12px;
}
.genmed {
	font-size: 11px;
}
.gensmall {
	font-size: 10px;
}
.gentiny {
	font-size: 8px;
}
.genmini {
	font-size: 6px;
}
.gen, .genmed, .gensmall {
	color: #000000;
}
a.gen, a.genmed, a.gensmall {
	color: #5569A7;
	text-decoration: none;
}
a.gen:hover, a.genmed:hover, a.gensmall:hover	{
	color: #5569A7;
	text-decoration: underline;
}
/* ---------------------------------------------------------------------------*/

/* The register, login, search etc links at the top of the page --------------*/
.mainmenu {
	font-size: 11px;
	color: #000000;
}
a.mainmenu {
	text-decoration: none;
	color: #5569A7;
}
a.mainmenu:hover {
	text-decoration: underline;
	color: #5569A7;
}
/* ---------------------------------------------------------------------------*/

/* Forum category titles -----------------------------------------------------*/
.cattitle {
	font-weight: bold;
	font-size: 12px ;
	letter-spacing: 1px;
	color: #5569A7;
}
a.cattitle {
	text-decoration: none;
	color: #5569A7;
}
a.cattitle:hover {
	text-decoration: underline;
}
/* ---------------------------------------------------------------------------*/

/* Forum title: Text and link to the forums used in: index.php ---------------*/
.forumlink {
	font-weight: bold;
	font-size: 12px;
	color: #5569A7;
}
a.forumlink {
	text-decoration: none;
	color: #5569A7;
}
a.forumlink:hover {
	text-decoration: underline;
	color: #5569A7;
}
/* ---------------------------------------------------------------------------*/

/* Navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum --*/
.nav { font-weight: bold; font-size: 11px; color: #000000; }
a.nav { text-decoration: none; color: #5569A7; }
a.nav:hover { text-decoration: underline; }
/* ---------------------------------------------------------------------------*/

/* titles for the topics: could specify viewed link colour too ---------------*/
.topictitle, h1, h2 {
	font-weight: bold;
	font-size: 11px;
	color: #000000;
}
a.topictitle:link {
	text-decoration: none;
	color: #5569A7;
}
a.topictitle:visited {
	text-decoration: none;
	color: #5569A7;
}
a.topictitle:hover {
	text-decoration: underline;
	color: #5569A7;
}
/* ---------------------------------------------------------------------------*/

/* Name of poster in viewmsg.php and viewtopic.php and other places ----------*/
.name {
	font-size: 11px;
	color: #000000;
}
/* ---------------------------------------------------------------------------*/

/* Location, number of posts, post date etc ----------------------------------*/
.postdetails {
	font-size: 10px;
	color: #000000;
}
/* ---------------------------------------------------------------------------*/

/* The content of the posts (body of text) -----------------------------------*/
.postbody {
	font-size: 12px;
	line-height: 18px;
}
a.postlink:link	{
	text-decoration: none;
	color: #5569A7;
}
a.postlink:visited {
	text-decoration: none;
	color: #5569A7;
}
a.postlink:hover {
	text-decoration: underline;
	color: #5569A7;
}
/* ---------------------------------------------------------------------------*/

/* Quote & Code blocks -------------------------------------------------------*/
.code { 
	font-family: Courier, 'Courier New', sans-serif;
	font-size: 11px;
	color: #293147;
	line-height: 1.2em;
	background-color: #FDFDFD;
	display: block;
	margin: 5px 20px;
	width: auto;
	padding: 5px;
	border: #D5DBEC;
	border-style: solid;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 2px;
}
.quote {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #293147;
	line-height: 1.2em;
	display: block;
	margin: 5px 20px;
	width: auto;
	padding: 5px;
	background-color: #FDFDFD;
	border: #D5DBEC;
	border-style: solid;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 2px;
}
/* ---------------------------------------------------------------------------*/

/* Copyright and bottom info -------------------------------------------------*/
.copyright {
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #444444;
	letter-spacing: -1px;
}
a.copyright {
	color: #444444;
	text-decoration: none;
}
a.copyright:hover {
	color: #000000;
	text-decoration: underline;
}
/* ---------------------------------------------------------------------------*/

/* Form elements -------------------------------------------------------------*/
input, textarea, select {
	color: #000000;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
}
select {
	background-color: #FDFDFD;
}

input {
	text-indent : 2px;
}

textarea.post {
	background-color: #FDFDFD;
	border: solid 1px #FDFDFD;
	border-width: 1px 1px 1px 1px;
	border-top-color: #A5AEC3;
	border-right-color: #DEE3F1;
	border-bottom-color: #DEE3F1;
	border-left-color: #A5AEC3;
}
input.post {
	background-color: #FDFDFD;
	border: solid 1px #FDFDFD;
	border-width: 1px 1px 1px 1px;
	border-top-color: #A5AEC3;
	border-right-color: #DEE3F1;
	border-bottom-color: #DEE3F1;
	border-left-color: #A5AEC3;
}
/* ---------------------------------------------------------------------------*/

/* The buttons used for bbCode styling in message post -----------------------*/
input.button {
	background-color: #D5DBEC;
	background-image: url(images/cellpic_btn.gif);
	color: #000000;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border: solid 1px #5D74AE;
	border-width: 1px 1px 1px 1px;
	border-top-color: #A5AEC3;
	border-right-color: #5D74AE;
	border-bottom-color: #5D74AE;
	border-left-color: #A5AEC3;
	cursor: hand;
}
/* ---------------------------------------------------------------------------*/

/* The main submit button option ---------------------------------------------*/
input.mainoption {
	background-color: #D5DBEC;
	background-image: url(images/cellpic_btn.gif);
	font-weight: bold;
	border: solid 1px #5D74AE;
	border-width: 1px 1px 1px 1px;
	border-top-color: #A5AEC3;
	border-right-color: #5D74AE;
	border-bottom-color: #5D74AE;
	border-left-color: #A5AEC3;
	cursor: hand;
}
/* ---------------------------------------------------------------------------*/

/* None-bold submit button ---------------------------------------------------*/
input.liteoption {
	background-color: #D5DBEC;
	background-image: url(images/cellpic_btn.gif);
	font-weight: normal;
	border: solid 0px #5D74AE;
	border-width: 1px 1px 1px 1px;
	border-top-color: #A5AEC3;
	border-right-color: #5D74AE;
	border-bottom-color: #5D74AE;
	border-left-color: #A5AEC3;
	cursor: hand;
}
/* ---------------------------------------------------------------------------*/

/* This is the line in the posting page which shows the rollover help line ---*/
.helpline {
	font-size: 9px;
	background-color: #E7EAF5;
	border-style: none;
}
/* ---------------------------------------------------------------------------*/

/* Class topics attributs ----------------------------------------------------*/
.attr_reported {
	color: #FFA500;
}
.attr_solved {
	color: #00C000;
}
/* ---------------------------------------------------------------------------*/

/* Import the fancy styles for IE only (NS4.x doesn't use the @import function) */
@import url("formIE.css"); 