/* Hypercell CSS for subSilver Style */
/* background-color #EFEFEF is the value from td.row1 Class in subSilver.css file */
/* background #DEE3E7 is the value from td.row2 Class in subSilver.css file */
/* background-color #D1D7DC is the value from td.row3Right Class in subSilver.css file */


/* Hypercell on Forum Index */
td.hccRow { background-color: #F6EBCC; background-image: url(CSSimages/paperlight.jpg) }
td.hccRow:hover, td.hccRowHover {
	background-color: #F3E6BE; background-image: url(CSSimages/papermedium.jpg) url(images/hcc_default.gif) bottom right no-repeat;
}
td.hccRow-new { background-color: #F6EBCC; background-image: url(CSSimages/paperlight.jpg) }
td.hccRow-new:hover, td.hccRow-newHover {
	background-color: #F3E6BE; background-image: url(CSSimages/papermedium.jpg) url(images/hcc_new.gif) bottom right no-repeat;
}
td.hccRow-lock { background-color: #F6EBCC; background-image: url(CSSimages/paperlight.jpg) }
td.hccRow-lock:hover, td.hccRow-lockHover {
	background-color: #F3E6BE; background-image: url(CSSimages/papermedium.jpg) url(images/hcc_lock.gif) bottom right no-repeat;
}


/* Hypercell on Link Cat - Cat Hierarchy MOD */
td.hccRow-link { background-color: #F6EBCC; background-image: url(CSSimages/paperlight.jpg) }
td.hccRow-link:hover, td.hccRow-linkHover {
	background-color: #F3E6BE; background-image: url(CSSimages/papermedium.jpg) url(images/hcc_link.gif) bottom right no-repeat;
}


/* Hypercell on Viewforum */
td.hccRow-announce { background-color: #F6EBCC; background-image: url(CSSimages/paperlight.jpg) }
td.hccRow-announce:hover, td.hccRow-announceHover {
	background-color: #F3E6BE; background-image: url(CSSimages/papermedium.jpg) url(images/hcc_announce.gif) bottom right no-repeat;
}
td.hccRow-new-announce { background-color: #F6EBCC; background-image: url(CSSimages/paperlight.jpg) }
td.hccRow-new-announce:hover, td.hccRow-new-announceHover {
	background-color: #F3E6BE; background-image: url(CSSimages/papermedium.jpg) url(images/hcc_new_announce.gif) bottom right no-repeat;
}

td.hccRow-sticky { background-color: #F6EBCC; background-image: url(CSSimages/paperlight.jpg) }
td.hccRow-sticky:hover, td.hccRow-stickyHover {
	background-color: #F3E6BE; background-image: url(CSSimages/papermedium.jpg) url(images/hcc_sticky.gif) bottom right no-repeat;
}
td.hccRow-new-sticky { background-color: #F6EBCC; background-image: url(CSSimages/paperlight.jpg) }
td.hccRow-new-sticky:hover, td.hccRow-new-stickyHover {
	background-color: #F3E6BE; background-image: url(CSSimages/papermedium.jpg) url(images/hcc_new_sticky.gif) bottom right no-repeat;
}

td.hccRow-hot { background-color: #F6EBCC; background-image: url(CSSimages/paperlight.jpg) }
td.hccRow-hot:hover, td.hccRow-hotHover {
	background-color: #F3E6BE; background-image: url(CSSimages/papermedium.jpg) url(images/hcc_hot.gif) bottom right no-repeat;
}
td.hccRow-new-hot { background-color: #F6EBCC; background-image: url(CSSimages/paperlight.jpg) }
td.hccRow-new-hot:hover, td.hccRow-new-hotHover {
	background-color: #F3E6BE; background-image: url(CSSimages/papermedium.jpg) url(images/hcc_new_hot.gif) bottom right no-repeat;
}


/* row3Right and all hccRow Right Class */
/* background-color #CCD3D9 is a color slightly darker than td.row3Right in subSilver.css file */
td.row3Right:hover, td.row3RightHover { background-color: #CCD3D9; }

td.hccRow-right { background-color: #F4E5BA; background-image: url(CSSimages/paperdark.jpg); }
td.hccRow-right:hover, td.hccRow-rightHover {
	background: #CCD3D9 url(images/hcc_default.gif) bottom right no-repeat;
}

td.hccRow-new-right { background-color: #F4E5BA; background-image: url(CSSimages/paperdark.jpg); }
td.hccRow-new-right:hover, td.hccRow-new-rightHover {
	background: #CCD3D9 url(images/hcc_new.gif) bottom right no-repeat;
}

td.hccRow-lock-right { background-color: #F4E5BA; background-image: url(CSSimages/paperdark.jpg); }
td.hccRow-lock-right:hover, td.hccRow-lock-rightHover {
	background: #CCD3D9 url(images/hcc_lock.gif) bottom right no-repeat;
}

td.hccRow-announce-right { background-color: #F4E5BA; background-image: url(CSSimages/paperdark.jpg); }
td.hccRow-announce-right:hover, td.hccRow-announce-rightHover {
	background: #CCD3D9 url(images/hcc_announce.gif) bottom right no-repeat;
}

td.hccRow-new-announce-right { background-color: #F4E5BA; background-image: url(CSSimages/paperdark.jpg); }
td.hccRow-new-announce-right:hover, td.hccRow-new-announce-rightHover {
	background: #CCD3D9 url(images/hcc_new_announce.gif) bottom right no-repeat;
}

td.hccRow-sticky-right { background-color: #F4E5BA; background-image: url(CSSimages/paperdark.jpg); }
td.hccRow-sticky-right:hover, td.hccRow-sticky-rightHover {
	background: #CCD3D9 url(images/hcc_sticky.gif) bottom right no-repeat;
}

td.hccRow-new-sticky-right { background-color: #F4E5BA; background-image: url(CSSimages/paperdark.jpg); }
td.hccRow-new-sticky-right:hover, td.hccRow-new-sticky-rightHover {
	background: #CCD3D9 url(images/hcc_new_sticky.gif) bottom right no-repeat;
}

td.hccRow-hot-right { background-color: #F4E5BA; background-image: url(CSSimages/paperdark.jpg); }
td.hccRow-hot-right:hover, td.hccRow-hot-rightHover {
	background: #CCD3D9 url(images/hcc_hot.gif) bottom right no-repeat;
}

td.hccRow-new-hot-right { background-color: #F4E5BA; background-image: url(CSSimages/paperdark.jpg); }
td.hccRow-new-hot-right:hover, td.hccRow-new-hot-rightHover {
	background: #CCD3D9 url(images/hcc_new_hot.gif) bottom right no-repeat;
}
